.cards {
  background-color: #ffffff;
  /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5); */
  border-radius: 8px;
  overflow: hidden;
  margin-left: 3%;
  width: 30%;
  margin-top: 10%;
}

.cards img {
  width: 100%;
  height: 50%;
  transition: all 0.5s ease;
}

.cards .cardsBody {
  padding: 4%;
}

.cards h2 {
  font-size: 180%;
  margin: 0 0 1%;
}

.cards p {
  font-size: 120%;
  line-height: 1.2;
  margin-top: 3%;
}

.cards h5 {
  font-size: 180%;
}

.cards a {
  display: block;
  color: #0e0d0d;
  /* text-align: center; */
  text-decoration: none;
  transition: all 0.5s;
}

.cards a:hover {
  color: rgb(62, 144, 185);
}

.cards:hover img {
  transform: scale(1.1);
}
