/* 
各ページのタイトルコンポーネント
 */
.contentsTitle {
  padding-top: 12%;
}

.titles h1 {
  font-size: 400%;
  font-weight: 700;
  text-align: center;
}

.titles p {
  font-size: 170%;
  font-weight: 700;
  text-align: center;
}
