.homePage {
  /* background-color: #fdfcfc; */
  background-color: white;
}
/*
 ホームのメイン画像
 */
.hero {
  background: rgb(247, 101, 87);
  background: linear-gradient(
    90deg,
    rgba(247, 101, 87, 1) 0%,
    rgba(242, 191, 121, 1) 25%,
    rgba(249, 227, 163, 1) 50%,
    rgba(244, 238, 194, 1) 75%,
    rgba(254, 255, 254, 1) 100%
  );
  padding-top: 7%;
  width: 100%;
  height: 100vh;
  position: relative;
}

.heroText {
  position: absolute;
  width: 100%;
  height: 90vh;
  /* top: 12%; */
  /* left: 2%; */
  font-size: 420%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  z-index: 2;
  transform: rotate(-9deg);
}

.heroText h1 {
  font-size: 300%;
  font-weight: 700;
  transform: scaleY(1.8);
  justify-content: center;
  align-items: center;
}

.heroImage img {
  width: 100%;
  height: 85vh;
  clip-path: polygon(100% 0, 100% 70%, 0 100%, 0 30%);
}

/*
ホームの自己紹介
 */
.selfIntroduction {
  padding-top: 8%;
  display: flex;
  /* padding-left: 15%; */
  overflow: hidden;
  padding-bottom: 5%;
}

.selfIcon {
  overflow: hidden;
  /* padding-left: 5%; */
  text-align: center;
}

.selfIcon img {
  width: 35%;
  /* height: 65%; */
  border-radius: 100%;
  /* margin-right: 200px; */
  /* padding-left: 15%; */
  margin-top: 5%;
}

.introductionText {
  padding-top: 6%;
  /* margin-right: 10%; */
  /* padding: 5%; */
  /* width: 100%; */
}

.introductionText h1 {
  font-weight: 700;
  font-size: 180%;
}

.introductionText h5 {
  font-size: 100%;
  padding-top: 5%;
  line-height: 160%;
}

/* 
各アプリのアイコン
 */

.githubIcon {
  font-size: 400%;
  color: black;
  transition: all 0.5s;
}

.githubIcon:hover {
  color: rgb(66, 66, 68);
}

.instaIcon {
  font-size: 400%;
  color: #e4405f;
  transition: all 0.5s;
  padding-left: 5%;
}

.instaIcon:hover {
  color: rgb(210, 112, 128);
}

.twitterIcon {
  font-size: 400%;
  color: #1da1f2;
  transition: all 0.5s;
  padding-left: 5%;
}

.twitterIcon:hover {
  color: rgb(235, 236, 237);
}

/* 
webサイトの紹介
 */
.appContainer {
  padding-top: 5%;
  /* background-color: white; */
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.appContainer h1 {
  transform: rotate(-5deg);
  margin-bottom: 5%;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  margin-left: 6%;
}

.cardContent {
  /* box-shadow: 0px 2px 6px rgba(0, 0, 0, 5); */
  display: flex;
  padding-bottom: 5%;
}

.card {
  background-color: #ffffff;
  /* box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8); */
  border-radius: 8px;
  overflow: hidden;
  width: 25%;
  /* height: 60%; */
  /* margin: 0 5% 0 5%; */
  margin: 0 0 0 5%;
}

.card img {
  width: 100%;
  height: 50%;
  transition: all 0.5s ease;
}

.card .cardBody {
  padding: 2%;
}

.card h2 {
  font-size: 140%;
  margin: 2%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
}

.card p {
  font-size: 80%;
  /* line-height: 1.5; */
  margin: 5% 2% 0 2%;
}

.card h5 {
  font-size: 100%;
  font-weight: 700;
  margin: 1% 2% 5% 2%;
}

.card a {
  display: block;
  color: #0e0d0d;
  /* text-align: center; */
  text-decoration: none;
  transition: all 0.5s;
}

.card a:hover {
  color: rgb(62, 144, 185);
}

.card:hover img {
  transform: scale(1.1);
}

/* 
  勉強しているスキル 
  */

.study {
  padding-top: 3%;
  margin-left: 10%;
  /* width: 100%; */
}

.study h1 {
  font-weight: 700;
  font-size: 130%;
  letter-spacing: 0.5rem;
  /* width: 100%; */
  /* border: 1px solid black;    */
}

.studyContainer {
  margin-bottom: 4%;
}

.studyContainer img {
  margin-top: 1%;
  width: 6%;
  margin-left: 4%;
}
