/* 
ヘッダーのコンポーネント
*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(160, 158, 176);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 15%;
    color: white;
    z-index: 10;
    
}



.headerNav ul li {
    list-style: none;
    display: inline-block;
    font-size: 350%;
    margin: 50px;
    font-weight: bold;

}

.headerNav ul li a{
    text-decoration: none;
    color: white;
    transition: all 0.4s;
}

.headerNav ul li a:hover{
    color: black;
}





/*
 ホームのメイン画像
 */
.hero{
    padding-top: 7%;
    position: relative;
}

.heroText{
    position: absolute;
    top: 12%;
    left: 2%;
    font-size: 400%;
    color: rgb(58, 44, 47);
}

.heroText h1{
    font-size: 300%;
    font-weight: 700;
}


.heroImage img{
    width: 100%;
    height: 90vh;
}




/*
ホームの自己紹介
 */
.selfIntroduction{
    padding-top: 8%;
    display: flex;
    /* padding-left: 15%; */
    overflow: hidden;
    padding-bottom: 5%;
    
    
}

.selfIcon {
    overflow: hidden;
    padding-left: 10%;
    text-align: center;
    
}


.selfIcon img{
    width: 50%;
    /* height: 65%; */
    border-radius: 100%;
    /* margin-right: 200px; */
    /* padding-left: 15%; */
    margin-top: 5%;

}

.introductionText{
    padding-top: 2%;
    /* margin-right: 10%; */
    /* padding: 5%; */
    /* width: 100%; */
    
    
    
}

.introductionText h1{
    font-weight: 700;
    font-size: 350%;
}

.introductionText h5{
    font-size: 200%;
    padding-top: 5%;
    line-height: 160%;
}



/* 
各アプリのアイコン
 */
 

.githubIcon{
    font-size: 600%;
    color: black;
    transition: all 0.5s;
    
}

.githubIcon:hover{
    color: rgb(66, 66, 68);
}

.instaIcon{
    font-size: 600%;
    color: #E4405F;
    transition: all 0.5s;
    padding-left: 5%;
}

.instaIcon:hover{
    color: rgb(210, 112, 128);

}

.twitterIcon{
    font-size: 600%;
    color: #1DA1F2;
    transition: all 0.5s;
    padding-left: 5%;
}

.twitterIcon:hover{
    color: rgb(84, 120, 177);
}






/* 
フッターコンポーネント
*/
.footer{
    background-color: rgb(154, 144, 155);
    margin-top: 10%;
    padding:2% 0;
    width: 100%;
    height: 40%;
}

.footer a{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    /* padding-top: 30px; */
    transition: all 0.5s;
}

.footer a:hover{
    color: black;
}



/* 
各ページのタイトルコンポーネント
 */
.contentsTitle{
    padding-top: 12%;
}

.titles h1{
    font-size: 600%;
    font-weight: 700;
    text-align: center;
}

.titles p{
    font-size: 250%;
    font-weight: 700;
    text-align: center;
}




/* 
webサイトの紹介
 */
.appContainer{
    padding-top: 5%;
    background-color: #e9f7e9;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.appContainer h1{
    transform: rotate(-5deg);
    margin-bottom: 5%;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 400%;
    margin-left: 6%;
}


.cardContent{
    /* box-shadow: 0px 2px 6px rgba(0, 0, 0, 5); */
    display: flex;
    padding-bottom: 5%;
}

.card {
    background-color: #ffffff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    overflow: hidden;
    width: 25%;  
    /* height: 60%; */
    /* margin: 0 5% 0 5%; */
    margin: 0 0 0 5%;
  }


  
  .card img {
    width: 100%;
    height: 50%;
  }
  
  .card .cardBody {
    padding: 2%;
  }
  
  .card h2 {
    font-size: 200%;
    margin: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
  }
  
  .card p {
    font-size: 120%;
    /* line-height: 1.5; */
    margin: 5% 2% 0 2%;

  }

  .card h5{
    font-size: 150%;
    font-weight: 700;
    margin: 1% 2% 5% 2%;
  }
  
  .card a {
    display: block;
    background-color: #5eb3e5;
    color: #ffffff;
    text-align: center;
    /* margin-top: 8%; */
    padding: 2% 1% 2% 1%;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 200%;
    font-weight: 700;
    transition: all 0.5s;
  }

  .card a:hover{
    color: black;

  }



  /* 
  勉強しているスキル 
  */

.study{
    padding-top: 3%;
    margin-left: 10%;
    /* width: 100%; */
}

.study h1{
    font-weight: 700;
    letter-spacing: 0.5rem;
    /* width: 100%; */
    /* border: 1px solid black;    */
}

.studyContainer{
    margin-bottom: 4%;
}

.studyContainer img{
  margin-top: 1%;
  width: 6%;
  margin-left: 4%;
}



/* 
質問コンポーネント
 */
.questionAnswer{
    /* margin-top: 10%; */
    margin:12% 5% 0 5%;
}



.question{
    text-indent: 2%;
    padding-top: 2%;
    margin-top: 4%;
    padding-bottom: 2%;
    background-color: rgb(249, 243, 236);
    justify-content: center;
    font-weight: 400;
    border: 2px solid black;
    /* text-align: center; */
}

.answer{
    text-indent: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(250, 226, 226);
    justify-content: center;
    font-weight: 400;
    border: 2px solid black;
    /* text-align: center; */
}




/* SKILLSコンポーネント */
.skillsContent{
    display: flex;
    flex-wrap: wrap;
    margin: 0 3% 10% 3%;
}



/* 
SKILLSカードコンポーネント 
*/





.cards {
    background-color: #ffffff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
    margin-left: 3%;
    width: 30%;
    margin-top: 10%;
  }
  
  .cards img {
    width: 100%;
    height: 50%;
  }
  
  .cards .cardsBody {
    padding: 4%;
  }
  
  .cards h2 {
    font-size: 180%;
    margin: 0 0 1%;
  }
  
  .cards p {
    font-size: 120%;
    line-height: 1.2;
    margin-top: 3%;
  }

  .cards h5{
    font-size: 180%;
  }
  
  .cards a {
    display: block;
    background-color: #8ab9e0;
    color: #ffffff;
    text-align: center;
    padding: 4%;
    text-decoration: none;
    border-radius: 5%;
    margin-top: 5%;
    transition: all 0.5s;
    font-size: 150%;
  }

  .cards a:hover{
    color: black;
  }





  /* ライクコンポーネント */

  .likeTitle{
    font-size: 500%;
    font-weight: 700;
    margin: 10% 0 0 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .movieYoutube{
    display: flex;
    flex-wrap: wrap;
    margin: 0 8% 6% 8%;
    
  }

  .cardLink{
    background-color: #ffffff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
    /* margin-right: 5%; */
    /* margin: 10% 8% 4% 8%; */
    width: 40%;
    height: 35%;
    margin: 5% 10% 0 0%;
    /* margin-top: 10%; */

  }

  .linkText{
    padding: 2%;
  }

  .linkText h1{
    font-weight: 700;
    font-size: 250%;
    margin-bottom: 5%;
  }

  .linkText p{
    font-size: 140%;
  }
